.item .circle.outline.icon {
    color: #db2828;
}

.item .check.circle.outline.icon {
    color: #21ba45;
}

.ui.raised {
    padding-top: 30px;
}

/* Vizualni hint korisniku da može kliknuti na zadatak (da promijeni status) */
.task-clickable {
    cursor: pointer;
}