<div class="ui container medium centered segment">
    <header class="ui huge header">
        Welcome to Met Hotels - Where Every Stay is an Unforgettable Story!
    </header>

    <h2 class="ui header">A Place to Rest Your Weary Head</h2>
    <p>Our rooms aren't just rooms; they're cocoons of comfort...</p>

    <h2 class="ui header">Gastronomical Galore</h2>
    <p>Foodies, rejoice! Our in-house restaurants serve everything...</p>

    <h2 class="ui header">Unforgettable Experiences</h2>
    <div class="ui list">
        <li class="item"><b>Gourmet Adventure:</b> Food that tells a story.</li>
        <li class="item"><b>City Safari:</b> Discover the hidden gems of our vibrant city.</li>
        <li class="item"><b>Starlight Serenade:</b> Romance under the stars.</li>
        <li class="item"><b>Wellness Wonderland:</b> Pamper yourself; you deserve it.</li>
        <li class="item"><b>Time-Traveler's Tour:</b> Walk through history.</li>
        <li class="item"><b>Artistic Awakening:</b> Unleash your inner Picasso.</li>
        <li class="item"><b>Eco Explorer:</b> Adventure with a heart.</li>
        <p>... And much more!</p>
    </div>


    <h2 class="ui header">Your Event, Our Canvas</h2>
    <p>Planning a conference, a fairytale wedding, or a family reunion? Our event spaces transform to fit your
        vision, complete with state-of-the-art facilities and a team that's as excited about your event as you are.
    </p>

    <h2 class="ui header">Location, Location, and... Oh, Location!</h2>
    <p>Nestled in the heart of Belgrade, we're just a hop, skip, and a jump away from Knez Mihajlova. Whether you're
        here for the sights, the sounds, or the shopping, everything is just around the corner..</p>

    <h2 class="ui header">Sustainability: More Than Just a Buzzword</h2>
    <p>We love our planet as much as we love hosting you. That's why we're committed to eco-friendly practices that
        make both our mother Earth and you smile.</p>



    <h2 class="ui header">Join the Met Hotels Family</h2>
    <p>When you stay with us, you're not just a guest; you're family. And our family deserves the best. From
        exclusive offers to insider tips on experiencing the city like a local, we've got your back.</p>

</div>