.card-margin {
    margin-bottom: 1em;
}

.content-padding {
    padding: 1em;
}

.description-margin {
    margin-top: 0.5em;
}

.extra-padding {
    padding: 1em;
}

.ui.cards {
    margin-top: 1em;
    margin-bottom: 1em;
}